{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Login{% endblock %}

{% block stylesheets %}
    {% if app.environment == 'prod' %}
        {% stylesheets
        'bundles/cihubcore/js/lib/bootstrap-3.2.0/css/bootstrap.css'
        'bundles/cihubcore/js/lib/bootstrap-3.2.0/css/bootstrap-theme.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% else %}
        {% stylesheets
        'bundles/cihubcore/js/lib/bootstrap-3.2.0/css/bootstrap.min.css'
        'bundles/cihubcore/js/lib/bootstrap-3.2.0/css/bootstrap-theme.min.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endif %}

    {% block perso_css %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {% if app.environment == 'prod' %}
        {% javascripts
        '@CIHubCoreBundle/Resources/public/js/lib/jquery-1.11.1/jquery-1.11.1.min.js'
        '@CIHubCoreBundle/Resources/public/js/lib/bootstrap-3.2.0/js/bootstrap.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        {% javascripts
        '@CIHubCoreBundle/Resources/public/js/lib/jquery-1.11.1/jquery-1.11.1.js'
        '@CIHubCoreBundle/Resources/public/js/lib/bootstrap-3.2.0/js/bootstrap.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

    {% block perso_js %}
    {% endblock %}
{% endblock %}


{% block body %}

    {% include '@CIHubCore/menu.html.twig' %}

    <div class="container">
        {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}