{% extends "CIHubUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block perso_css %}
    {% if app.environment == 'prod' %}
        {# TODO Définir le contenu en prod #}
        {% stylesheets
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% else %}
        {% stylesheets
        'bundles/cihubcore/css/common/main.css'
        'bundles/cihubuser/css/common/signin.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endif %}
{% endblock %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input class="form-control" type="password" id="password" name="_password" required="required" />

        {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
        {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}

        <label class="checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" > {{ 'security.login.remember_me'|trans }}
        </label>

        <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </form>
{% endblock fos_user_content %}
