{% extends "CIHubUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block perso_css %}
    {% if app.environment == 'prod' %}
        {# TODO Définir le contenu en prod #}
        {% stylesheets
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% else %}
        {% stylesheets
        'bundles/spiritdevcihubcore/css/common/main.css'
        'bundles/cihubuser/css/common/signin.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endif %}
{% endblock %}

{% block perso_js %}
    {% if app.environment == 'prod' %}
        {# TODO Définir le contenu en prod #}
        {% javascripts %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        {% javascripts
        '@CIHubUserBundle/Resources/public/js/common/signin.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}

{% block fos_user_content %}
    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
        <h2 class="form-signin-heading">Please sign in
            <div class="form-signin-mainLoader"
                 style="width: 32px;height: 32px;display: inline-block;margin-top: 4px; float: right;"></div>
        </h2>

        {% if error %}
            <div class="form-signin-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"
               required="required"/>

        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input class="form-control" type="password" id="password" name="_password" required="required"/>

        <label class="checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me"
                   value="on"/> {{ 'security.login.remember_me'|trans }}
        </label>

        <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit"
               value="{{ 'security.login.submit'|trans }}"/>
    </form>
{% endblock fos_user_content %}
